<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TravelUserEntityMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.TravelUserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, uid, card_type, card_id, is_del, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from travel_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from travel_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.entity.TravelUserEntity">
    insert into travel_user (id, name, uid, 
      card_type, card_id, is_del, 
      add_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{cardType,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{isDel,jdbcType=BIT}, 
      #{addTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.TravelUserEntity">
    insert into travel_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.TravelUserEntity">
    update travel_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.TravelUserEntity">
    update travel_user
    set name = #{name,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      card_type = #{cardType,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=BIT},
      add_time = #{addTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>