<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TripCommentEntityMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.TripCommentEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="trip_no" jdbcType="VARCHAR" property="tripNo" />
    <result column="guide_code" jdbcType="VARCHAR" property="guideCode" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="comment_tag" jdbcType="VARCHAR" property="commentTag" />
    <result column="comment_star" jdbcType="VARCHAR" property="commentStar" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="time" jdbcType="INTEGER" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, trip_no, guide_code, uid, comment, comment_tag, comment_star, status, is_del, 
    time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trip_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trip_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.entity.TripCommentEntity">
    insert into trip_comment (id, trip_no, guide_code, 
      uid, comment, comment_tag, 
      comment_star, status, is_del, 
      time)
    values (#{id,jdbcType=INTEGER}, #{tripNo,jdbcType=VARCHAR}, #{guideCode,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{commentTag,jdbcType=VARCHAR}, 
      #{commentStar,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{isDel,jdbcType=BIT}, 
      #{time,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.TripCommentEntity">
    insert into trip_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tripNo != null">
        trip_no,
      </if>
      <if test="guideCode != null">
        guide_code,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="commentTag != null">
        comment_tag,
      </if>
      <if test="commentStar != null">
        comment_star,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tripNo != null">
        #{tripNo,jdbcType=VARCHAR},
      </if>
      <if test="guideCode != null">
        #{guideCode,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="commentTag != null">
        #{commentTag,jdbcType=VARCHAR},
      </if>
      <if test="commentStar != null">
        #{commentStar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.TripCommentEntity">
    update trip_comment
    <set>
      <if test="tripNo != null">
        trip_no = #{tripNo,jdbcType=VARCHAR},
      </if>
      <if test="guideCode != null">
        guide_code = #{guideCode,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="commentTag != null">
        comment_tag = #{commentTag,jdbcType=VARCHAR},
      </if>
      <if test="commentStar != null">
        comment_star = #{commentStar,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.TripCommentEntity">
    update trip_comment
    set trip_no = #{tripNo,jdbcType=VARCHAR},
      guide_code = #{guideCode,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      comment_tag = #{commentTag,jdbcType=VARCHAR},
      comment_star = #{commentStar,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=BIT},
      time = #{time,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>